# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store
node_modules
package-lock.json
package.json

### client
/client/node_modules

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# local env files
# /client/.env*.local

### server
/server/node_modules
/server/.DS_Store

# local env files
# /server/.env